<div class="container">
  <h1>Disponibilités</h1>

  <h2>Ajouter / modifier une disponibilité </h2>
<ngbd-datepicker-range ></ngbd-datepicker-range>





<!-- <div class="container">
  <h2>Liste des disponibilités</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Date Début</th>
        <th>Date Fin</th>
        <th>Durée</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let dispo of service.formateur.disponibilites">
       <td>{{dispo.id}}</td>
       <td>{{dispo.date_debut | date:'d MMMM y' }}</td>
       <td>{{dispo.date_fin | date:'d MMMM y'}}</td>

     </tr>
    </tbody>
  </table>
</div> -->
