<div class="container">
  <h1>Disponibilités</h1>

  <h2>Ajouter / modifier une disponibilité </h2>
<ngbd-datepicker-range></ngbd-datepicker-range>


<div class="row mb-2 col-auto">
  <button (click)="addDispo()" class="btn btn-success">AJOUTER</button>
</div>
</div>


<div class="container">
  <h2>Liste des clients</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Date Début</th>
        <th>Date Fin</th>
        <th>Durée</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let dispo of formateurService.formateur.disponibilites">
        <td>{{dispo.id}}</td>
        <td>{{dispo.date_debut}}</td>
        <td>{{dispo.date_fin}}</td>
        <td>nulz</td>
      </tr>
    </tbody>
  </table>
</div>
