.d-block {
	height: 500px;
	border: solid 2px gray;
}

table th.colonne1 {
	min-width: 190px;
	vertical-align: middle;
	text-align: left;
}

.table tr {
	height: 53px;
}

.table td {
	position: relative;
	vertical-align: middle;
}

.input-group-text {
	width: 200px;
}

.divcolonne {
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	width: 100px;
	justify-content: center;
	align-items: center;
}

.divcolonne b {
	font-size: 20px;
	transform: rotate(-90deg);
	position: absolute;
	width: auto;
}

.matiere {
	display: flex;
	justify-content: center;
	align-items: center;
}

.matiere b {
	font-size: 30px;
}

@media print {
	header {
		display: none;
	}
	nav {
		display: none;
	}
	footer {
		display: none;
	}
}